body {
    text-align:center;
    margin: 0;
    padding-top: 800px;
}

#img1 {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    background: linear-gradient(#52c4eb 0%, #d6d43e 100%); 
    position:absolute;
    height:800px;
    color:aliceblue;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    display: table;
    z-index:9;
}

p {
    font-size: 20px;
    line-height: 1.3;
    margin: 25px auto;
}
h1{
    font-size:50px;
    font-family:sans-serif;
    font-weight:300;
}
#name{
    font-size:60px;
    line-height:1.2;
    font-family: 'Orelega One', cursive;
}
h2{
    font-size:30px;
    font-weight:300;
    font-family:sans-serif;
}
#bio{
    padding:50px;
    text-align:center;
}
.line{
    height:7px;
    width:80px;
    margin:8px auto;
    background-color:black;
}
.parallax-inner{
    display:table-cell;
    position:relative;
    text-align:center;
    vertical-align:middle;
}
.menu{
    list-style:none;
    font-family:fantasy;
    position:absolute;
    top:10px;
    right:20px;
    z-index:10;
    cursor:pointer;
}
.links{
    float:left;
    color:blue;
    padding-top:5px;
    padding-left:9px;
    padding-bottom:5px;
    padding-right:9px;
    font-family:fantasy;
    font-size:20px;
}
.links:hover{
    background-color:chocolate;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.articles:hover{
    color:aqua;
}
    




